{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="py-4">{% block title %}Article list - edit{% endblock %}</h1>
    <table class="table table-hover mt-4 mb-4">
        <thead class="bg-light">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
        <tr>
            <td><a href="{{ path('app_article', {'id': article.id}) }}">{{ article.title }}</a></td>
            <td><a href="{{ path('app_homepage', {'author': article.user.id}) }}">{{ article.user.username }}</a></td>
            <td><a href="{{ path('app_homepage', {'category': article.category.id}) }}">{{ article.category.label }}</a></td>
            <td>
                <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-primary btn-sm">
                    <i class="fas fa-pencil-alt"></i>&nbsp;Edit</a>
                <a href="{{ path('app_article_delete', {'id': article.id}) }}" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i>&nbsp;Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot class="bg-light">
        <tr>
            <td colspan="4">
                <a href="{{ path('app_article_add') }}" class="btn btn-primary btn-sm">New article</a>
            </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}
