{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="py-4">{% block title %}Article list - home{% endblock %}</h1>
    {% for article in articles %}
        <article id="article-0" class="mt-4 mb-4">
            <header class="article-header bg-light px-2 py-1">
                <a href="{{ path('app_article', {'id': article.id}) }}">{{ article.title }}</a> |
                <a href="{{ path('app_homepage', {'category': article.category.id}) }}"
                   class="badge badge-primary"
                   data-toggle="tooltip" data-placement="top"
                   title="{{ article.category.description }}">{{ article.category.label }}</a>
            </header>
            <p class="article-content px-2 py-1">{{ article.content }}</p>
            <footer class="article-footer bg-light text-md-right px-2 py-1">
                {{ article.createdAt|date('d.m.Y') }} - <a
                        href="{{ path('app_homepage', {'author': article.user.id}) }}"
                        class="badge badge-danger">{{ article.user.username }}</a>
            </footer>
        </article>
    {% endfor %}
{% endblock %}
